image: node:latest

cache:
  paths:
    - node_modules/

stages:
  - build
  - deploy

build:
  stage: build
  only:
    # - master
    - none # disabled
  script:
    - npm install
    - npm install -g firebase-tools

deploy:
  stage: deploy
  only:
    - master
  script:
    - firebase deploy --token REMOVED
