body {
  font-family: 'Product Sans';
  color: #444;
  text-align: center;
  font-size: 120%;
}

#content {
  margin: 60px auto;
  text-align: left;
  width: 800px;
}

#pass {
  float: left; width: 300px;
}

#form {
  margin: 50px 30px;
  float: left; 
}

#button img {
  width: 300px;
  margin-top: 25px;
}